body {
    font-family: 'Cabin', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 3rem;
    letter-spacing: 0.75rem;
}

header,
footer {
    min-height: 100vh;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}
header dd {
    margin: 1rem;
    color: darkgrey;
    font-weight: 700;
}

section {
    min-height: 100vh;
    box-sizing: border-box;
    position: relative;
}

.nav-section {
    padding: 1rem;
    color: darkgray;
    border-radius: 0.5rem;
    text-decoration: none;
}

.nav-section:hover {
    color: black;
}

.next-section {
    font-weight: 700;
    font-size: 1.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    text-align: center;
}

#synopsis {
    padding: 2rem;
    background-color: lightgray;
}

#synopsis > div {
    max-width: 38rem;
    margin-right: auto;
    margin-left: auto;
}

#details {
    height: 100vh;
    position: relative;
}

#details h2 {
    margin: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 2rem;
    z-index: 1000;
}

#map {
    height: 100%;
}

footer {
    background-color: grey;
    color: white;
}

@media (min-width: 860px) {
    #synopsis {
        padding: 4rem;
    }
}

#top {
    display: none;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1000;
}

#top:hover {
    background-color: white;
}
